@import url('https://fonts.googleapis.com/css?family=Kalam|Kaushan+Script');

/*font-family: 'Kaushan Script', cursive;
font-family: 'Kalam', cursive;*/


body {
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    font-family: 'Kalam', cursive;
    font-size: 1em;
    font-variant: small-caps;
    color: rgba(52, 51, 51, 0.89);
}


